language: go

install:
  - sudo apt-get install sqlite3
  - go get github.com/gourd/service/upperio
  - go get upper.io/db/sqlite
  - go get ./...

go:
  - 1.4
  - tip

script:
  - go test -v ./...
  - cd _examples/1_basic
  - go generate && go test
  - cd ../..
  - cd _examples/2_server
  - make test
