language: go

install:
  - go get github.com/gourd/service
  - go get github.com/gourd/goparser
  - go get upper.io/db
  - go get ./...

go:
  - 1.4
  - tip

script:
  - go test -v ./...
  - cd _examples/1_basic && go generate && go test
