language: go

install:
  - sudo apt-get install sqlite3
  - go get github.com/gourd/service
  - go get github.com/gourd/goparser
  - go get github.com/gorilla/pat
  - go get github.com/codegangsta/negroni
  - go get github.com/mattn/go-sqlite3
  - go get menteslibres.net/gosexy/to
  - go get upper.io/cache
  - go get upper.io/db
  - go get upper.io/db/sqlite
  - go get github.com/yookoala/restit
  - go get ./...

go:
  - 1.4
  - tip

script:
  - go test -v ./...
  - cd _examples/1_basic
  - go generate && go test
  - cd ../..
  - cd _examples/2_server
  - sqlite3 ./data/sqlite3.db < ./data/schema.sqlite3.sql
  - go generate post.go &&  go generate comment.go && go test
